:root {
  --bg-main: #d8d8d8;
  --text-color: #000000;
  --text-color-light: #ffffff;
  --bg-primary: #504fd2;
  --bg-primary-hover: #2b2a69;
  --bg-primary-selected: #0f0e23;
  --bg-primary-selected-hover: #2b2a69;
  --border-primary: #000000;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    to top,
    #d5dee7 0%,
    #ffafbd 0%,
    #c9ffbf 100%
  );
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #000000 0%,
    #53346d 51%,
    #000000 100%
  );
}

.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.dropdown-menu {
  padding: 0px !important;
  border: 1px !important;
  border-color: var(--border-primary) !important;
  border-style: solid !important;
}

.dropdown-menu .dropdown-item {
  background-color: var(--bg-primary) !important;
  color: var(--text-color-light) !important;
}

.dropdown-menu .dropdown-item:hover {
  background-color: var(--bg-primary-hover) !important;
  color: var(--text-color-light) !important;
}

.dropdown-menu .selected {
  background-color: var(--bg-primary-selected) !important;
  color: var(--text-color-light) !important;
}

.dropdown-menu .selected:hover {
  background-color: var(--bg-primary-selected-hover) !important;
  color: var(--text-color-light) !important;
}

.show {
  background-color: var(--bg-primary) !important;
  color: var(--text-color-light) !important;
}

.filter-option {
  padding-right: 5px !important;
}
